*.o
lib*.so
lib*.a
*~
*BAK
bin/*
cdf31-dist/*
cdf31-dist*
idl/go_routines/*
idl/go_routines
license.superdarn*
superdarn-toolkit*sh
tables/superdarn/hdw/*
README.superdarn-toolkit.*.txt
log/*
script/*
*.fitacf
*.rawacf
*.fitacf.bz2
*.rawacf.bz2

